{% if site.category_sidebar %}
<section>
<h1>分类目录</h1>
<ul>
  <li><a href='/blog/categories/bash'>bash (1)</a></li>
  <li><a href='/blog/categories/Beauty'>Beauty (1)</a></li>
  <li><a href='/blog/categories/CentOS'>CentOS (1)</a></li>
  <li><a href='/blog/categories/Debug'>Debug (1)</a></li>
  <li><a href='/blog/categories/English'>English (1)</a></li>
  <li><a href='/blog/categories/Female'>Female (1)</a></li>
  <li><a href='/blog/categories/FileSystem'>FileSystem (3)</a></li>
  <li><a href='/blog/categories/Funny'>Funny (6)</a></li>
  <li><a href='/blog/categories/Games'>Games (1)</a></li>
  <li><a href='/blog/categories/git'>git (1)</a></li>
  <li><a href='/blog/categories/GnuPlot'>GnuPlot (1)</a></li>
  <li><a href='/blog/categories/Grub'>Grub (1)</a></li>
  <li><a href='/blog/categories/Linux'>Linux (5)</a></li>
  <li><a href='/blog/categories/Lustre'>Lustre (2)</a></li>
  <li><a href='/blog/categories/Markdown'>Markdown (1)</a></li>
  <li><a href='/blog/categories/Octopress'>Octopress (3)</a></li>
  <li><a href='/blog/categories/SEO'>SEO (1)</a></li>
  <li><a href='/blog/categories/Tmux'>Tmux (1)</a></li>
  <li><a href='/blog/categories/Vim'>Vim (1)</a></li>
  <li><a href='/blog/categories/VirtualBox'>VirtualBox (1)</a></li>
  <li><a href='/blog/categories/惊悚'>惊悚 (1)</a></li>
  <li><a href='/blog/categories/温馨'>温馨 (1)</a></li>
  <li><a href='/blog/categories/生活'>生活 (2)</a></li>
  <li><a href='/blog/categories/若有所思'>若有所思 (3)</a></li>
</ul>
</section>
{% endif %}
