{% if site.category_sidebar %}
<section>
<h1>分类目录</h1>
<ul>
  <li><a href='/blog/categories/bash'>Bash (1)</a></li>
  <li><a href='/blog/categories/beauty'>Beauty (1)</a></li>
  <li><a href='/blog/categories/centos'>Centos (1)</a></li>
  <li><a href='/blog/categories/english'>English (1)</a></li>
  <li><a href='/blog/categories/female'>Female (1)</a></li>
  <li><a href='/blog/categories/filesystem'>Filesystem (1)</a></li>
  <li><a href='/blog/categories/fun'>Fun (1)</a></li>
  <li><a href='/blog/categories/funny'>Funny (3)</a></li>
  <li><a href='/blog/categories/git'>Git (1)</a></li>
  <li><a href='/blog/categories/grub'>Grub (1)</a></li>
  <li><a href='/blog/categories/linux'>Linux (3)</a></li>
  <li><a href='/blog/categories/linux'>Linux (1)</a></li>
  <li><a href='/blog/categories/lustre'>Lustre (1)</a></li>
  <li><a href='/blog/categories/markdown'>Markdown (1)</a></li>
  <li><a href='/blog/categories/octopress'>Octopress (3)</a></li>
  <li><a href='/blog/categories/tmux'>Tmux (1)</a></li>
  <li><a href='/blog/categories/vim'>Vim (1)</a></li>
  <li><a href='/blog/categories/virtualbox'>Virtualbox (1)</a></li>
  <li><a href='/blog/categories/惊悚'>惊悚 (1)</a></li>
  <li><a href='/blog/categories/生活'>生活 (1)</a></li>
</ul>
</section>
{% endif %}
